/* ---- CSS Demo ---- */
/*
#CABCB1 - Light Grey
#A08671 - Dark Tan
#F4D4BA - Tan
#75583F - Light Brown
#4B311C - Brown
#3B210C - Dark Brown
*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ------------- Global Styles ------------- */

  body{
    background-color:lightcoral;
    font-family: "Kode Mono", monospace;
    }

  header.primary{
    background-color:lightgray;
  }