/* ---- CSS Demo ---- */
/*
#CABCB1 - Light Grey
#A08671 - Dark Tan
#F4D4BA - Tan
#75583F - Light Brown
#4B311C - Brown
#3B210C - Dark Brown
*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ------------- Responsive Images ------------- */

img{
  max-width:100%;
}

/* ------------- Utility Classes ------------- */

.container{
  max-width: 960px;
  width:60vw;
  margin:40px auto;
}

.img-right{
  float:right;
  margin:10px 0px 10px 20px;
  border:1px solid #3B210C;
  padding: 5px;
  border-radius: 50px;
  background-color: #3B210C;
}

.img-left{
  float:float;
  margin:10px 20px 10px 0px;
  border:1px solid #3B210C;
  padding: 5px;
  border-radius: 50px;
  background-color: #3B210C;
}

.img-center{
  display:block;
  margin:20px auto;
  border:1px solid #3B210C;
  padding: 5px;
  border-radius: 50px;
  background-color: #3B210C;
}


/* ------------- Global Styles ------------- */

  body{
    background-color:#F4D4BA;
    font-family: "Kode Mono", monospace;
    margin:0;
    }

  header.primary{
    background-color:#4B311C;
    color:#ffffff;
    text-align:center;
    text-shadow:2px 2px #000000;
    padding:20px;
  }
  
  header.primary h1{
    font-size: 2.4rem;
    margin:20px 0 0;
  }

  header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
  }

  header.primary h2{
    margin:0;
    font-size: 1.2rem;
  }

  header.primary nav{
    max-width:900px;
    margin:20px auto;
  }

  header.primary ul{
    padding:10px 0px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

  header.primary ul li{
    list-style-type:none;
  }

  header.primary nav a{
    color:white;
    text-decoration:none;
    background-color:#3B210C;
    padding:5px 10px;
    border-radius:20px;
    border: 2px solid white;
    transition:.5s;
  }

  header.primary nav a:hover{
    background-color:#75583F;
  }

  #content{
    line-height:1.5
  }

  #content h2{
    color:#4B311C;
    border-bottom:3px dotted #CABCB1;
  }

  #content h3{
    border-left:7.5px solid #4B311C;
    padding:7.5px;
    color:#4B311C;
  }

  #blog{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:2rem;
    border-bottom:3px dotted #CABCB1;
    border-top:3px dotted #CABCB1;
    padding: 2rem 0;
  }

  #blog .post{
    box-shadow: 0 4px 8px rgba(0,0,0, .6);
    padding: 10px;
    border-radius:10px;
    font-size:.8rem;
  }

  #blog figure{
    margin:0;
  }

  #blog figcaption{
    text-transform:uppercase;
    font-size:.6rem;
    text-align:center;
    color:#CABCB1;
  }

  #blog header{
    padding-top:10px;
    font-size:.6rem;
  }

  #blog header h2{
    margin:0;
  }

  #blog a{
    color:#4B311C;
  }

  #blog .post hover{
    box-shadow: 0 8px 16px rgba(0,0,0, .6);
  }

  #practice h2{
    color:#4B311C;
    border-bottom:3px dotted #CABCB1;
    padding-bottom: 2rem;
  }

  table{
    border:1px solid #3B210C;
    width: 100%;
    margin: 20px 0;
    border-collapse:collapse ;
  }

  caption{
    font-weight:bold;
    margin:10px;
  }

  th{
    background-color:#3B210C;
    color:#ffffff;
    padding:10px;
  }

  tr:nth-child(even){
    background-color: rgba(0, 0, 0 ,0.1);
  }

  td{
    border:1px solid #3B210C;
    padding:5px;
  }

  
  aside{
    background:#4B311C;
    color:#ffffff;
    padding:1.25rem;
  }

  aside .container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:60px;
  }

  aside .container a{
    color:#ffffff;
  }

  aside .container a:last-of-type{
    display:block;
    color:#ffffff;
    text-align:right;
    margin-top:1rem;
  }

  aside .widget footer{
    display:none;
  }

  #colophon{
    background-color:#3B210C;
    text-align: center;
    padding:10px;
    color:#ffffff;
    font-size:1rem;
  }








  @media screen and (max-width: 600px) {

    header.primary ul{  
      flex-direction: column;
      gap:20px;
      max-width:250px;
      margin:auto;
    }
    
    header.primary nav a{
      display:block;
    }


  }